<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.spk.ahp_lokasipabrikbambu"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".input.KriteriaActivity"
            android:label="Kriteria">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".input.AlternatifActivity"
            android:label="Alternatif"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bobot.KriteriaBobotActivity"
            android:label="Pembobotan Kriteria"
            android:screenOrientation="portrait" />
        <activity
            android:name=".result.KriteriaBobotResultActivity"
            android:label="Hasil Pembobotan Kriteria"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bobot.AlternatifBobotActivity"
            android:label="Pembobotan Alternatif"
            android:screenOrientation="portrait" />
        <activity
            android:name=".result.AlternatifBobotResultActivity"
            android:label="Hasil Pembobotan Alternatif"
            android:screenOrientation="portrait" />
    </application>

</manifest>